
<footer　th:fragment="footer">

<div>
<p class="logo"><img src="images/logo.png" alt="Sample Fashion"></p>
<p class="c">東京都XXX区XXXXビル１F<br>
03-0000-0000</p>
<ul class="sns1">
<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-line"></i></a></li>
<li><a href="#"><i class="fab fa-youtube"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
</div>

<div>
<div class="menu">
<ul>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
</ul>
<ul>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
</ul>
<ul>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
<li><a href="#">ここにメニューを入れます</a></li>
</ul>
</div>
<small>Copyright© あなたのサイト名 All Rights Reserved.</small>
</div>

</footer>