<!-- templates/fragments/header.html -->
<header th:fragment="header">

    <div id="menubar2">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}">
                        Home
                        <span>ホーム</span>
                    </a>
                </li>
				<li>
                    <a th:href="@{/shopInfo}">
                        Shop
                        <span>店舗情報</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/products}">
                        Collection
                        <span>コレクション</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/style-book}">
                        Style Book
                        <span>スタイル</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</header>